section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

h2 {
    width: 100%;
}

article {
    width: 300px;
    min-height: 400px;
}

img {
    display: block;
    width: 100%;
    max-height: auto;
}
